bin/*.exe
bin/
bin/Lottery.*
obj/
.svn
*.db
*.suo
*.user
*.pyc
XML/*.xml
bin/*.dll
bin/*.pdb
XML/*
packages/*
.vs/
SqlScripts/database_backup/*.mdf
SqlScripts/database_backup/*.ldf
SqlScripts/database_backup/AdventureWorksDW2012_Data.mdf 
SqlScripts/database_backup/lottotry_log.ldf

Web.config
