<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <!--<system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>-->
  <configSections />
  <runtime>
    <gcServer enabled="true" />
    <!--<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3.0" newVersion="3.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>-->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="SendGridMail" publicKeyToken="2AE73662C35D80E4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.1.0.0" newVersion="6.1.0.0" />
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="info@lottotry.com">
        <network defaultCredentials="false" host="mail.shaw.ca" password="Hma@1985" port="25" userName="hma14" />       
      </smtp>

    </mailSettings>
  </system.net>
  <appSettings>
    <add key="ChartImageHandler" value="storage=memory;timeout=20;dir=d:\TempImageFiles\;" />
    <add key="UseHttps" value="false" />
    <add key="DocWidth" value="100%" />
    <add key="DocHeight" value="500px" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="SENDGRID_APIKEY" value="SG.7V7ns6S2SYyYtBNosvUB6Q.QGyykPR__0DpRORGO0Nyq5GUO6x626iVW-Xh2Ps4F2s" />
    <add key="Cache_Hours" value="1" />
  </appSettings>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="Data Source=OMNAE_DESKTOP\SQLEXPRESS;initial catalog=lottotry;User ID=hma14;Password=Bilibalabon12345;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="lottotryConnectionString" connectionString="Data Source=OMNAE_DESKTOP\SQLEXPRESS;initial catalog=lottotry;User ID=hma14;Password=Bilibalabon12345;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="lottotryConnectionString2" connectionString="Data Source=OMNAE_DESKTOP\SQLEXPRESS;initial catalog=lottotry;User ID=hma14;Password=Bilibalabon12345;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

    <!--<add name="LocalSqlServer" connectionString="Server=tcp:softsolution.database.windows.net,1433;Initial Catalog=lottotry;Persist Security Info=False;User ID=hma14;Password=Hma@1985;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
    <add name="lottotryConnectionString" connectionString="Server=tcp:softsolution.database.windows.net,1433;Initial Catalog=lottotry;Persist Security Info=False;User ID=hma14;Password=Hma@1985;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
    <add name="lottotryConnectionString2" connectionString="Server=tcp:softsolution.database.windows.net,1433;Initial Catalog=lottotry;Persist Security Info=False;User ID=hma14;Password=Hma@1985;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"/>-->
    
    <!--<add name="lottotryConnectionString3" connectionString="Data Source=WEBSERVER-PC\SQLSERVER2014;Initial Catalog=lottotry;User ID=sa" providerName="System.Data.SqlClient" />
    <add name="lottotryConnectionString2" connectionString="Data Source=WEBSERVER-PC\SQLSERVER2014;Initial Catalog=lottotry;Persist Security Info=True;User ID=sa;Password=Hma@1985" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <!--<trace enabled="true"/>
    <compilation debug="true"  targetFramework="4.0">
    </compilation>-->
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <caching>
      <sqlCacheDependency enabled="true" pollTime="60000">
        <databases>
          <add name="lottotry" connectionStringName="LocalSqlServer" pollTime="9000000" />
        </databases>
      </sqlCacheDependency>
    </caching>
    <siteMap defaultProvider="MySiteMapProvider">
      <providers>
        <add name="MySiteMapProvider" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true" siteMapFile="Web.sitemap" />
      </providers>
    </siteMap>
    <authentication mode="Forms">
      <forms name="LottoCOOKIE" defaultUrl="~/Members/Lotto.aspx" loginUrl="memberLogin.aspx" protection="All" timeout="30" cookieless="AutoDetect" path="/" requireSSL="false" />
    </authentication>
    <sessionState regenerateExpiredSessionId="true" timeout="35" mode="InProc" cookieless="AutoDetect" />
    <!--*** add these tags to support role management in the production environment -->
    <membership defaultProvider="AspNetSqlMembershipProvider">
      <providers>
        <remove name="AspNetSqlMembershipProvider" />
        <add connectionStringName="LocalSqlServer" name="AspNetSqlMembershipProvider" enablePasswordRetrieval="false" enablePasswordReset="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" requiresQuestionAndAnswer="true" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0,  Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </membership>
    <roleManager enabled="true">
      <providers>
        <remove name="AspNetSqlRoleProvider" />
        <add name="AspNetSqlRoleProvider" connectionStringName="LocalSqlServer" applicationName="/" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>
    <healthMonitoring />
    <!--<customErrors mode="Off" />-->
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
        -->
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    <pages controlRenderingCompatibilityVersion="4.0" enableEventValidation="false" validateRequest="false" styleSheetTheme="LottoTheme" enableViewStateMac="true" viewStateEncryptionMode="Always" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        
      <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" /></controls>
    </pages>
    <httpHandlers>
      <add path="*.aspx" verb="*" type="System.Web.UI.PageHandlerFactory" />
      <add path="*.htm" verb="*" type="System.Web.UI.PageHandlerFactory" />
      <add path="sitemap.axd" verb="*" type="Newtonsoft.Sitemaps.SitemapHandler, Newtonsoft.Sitemaps" />
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <remove value="default.aspx" />
        <add value="LottoTry.aspx" />
      </files>
    </defaultDocument>
    <staticContent>
      <mimeMap fileExtension=".aspx" mimeType="text/html" />
    </staticContent>
    <httpRedirect enabled="false" destination="http://lo" exactDestination="true" httpResponseStatus="Permanent" />
    <directoryBrowse enabled="true" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="cgi-bin" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Python27\python.exe %s %s" resourceType="Unspecified" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
