# This is a sample crontab file. This file must be copied to the same directory as cron.exe
# A log is written to cron.log

# This is a comment. In fact, every line not starting with a number is treated as a comment.

# start a backup every day at midnight
#0 0 * * * backup.bat >backup.log      

# copy a file every half hour
#0,30 * * * * copy c:\important.txt y:\
                 
# scan a drive for viruses on the 1st of every month at 14:00 p.m.

#0 14 1 * * scan c:


# Update MSSQL database on website 
# m  h  dom mon dow  command
  *  20 *   *   3    d:\pythonapp\sqldbLottery.py
  *  23 *   *   5    d:\pythonapp\sqldbLottoMax.py
  *  20 *   *   6    d:\pythonapp\sqldbLottery.py

